/env
realtors/__pycache__
listings/__pycache__
reales/__pycache__
accounts/__pycache__
pages/__pycache__
.DS_Store
*.pyc
*.pyo
*.jpg



listings/__pycache__/models.cpython-312.pyc
realestate/__pycache__/settings.cpython-312.pyc
realtors/__pycache__/admin.cpython-312.pyc
realtors/__pycache__/models.cpython-312.pyc
.env
