{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Rreth Nesh</h1>
          <p class="lead">Zbuloni shtëpinë ideale me ne, ku dizajni takon komoditetin për t'ju ofruar jetesën që meritoni.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Faqja Kryesore</a>
          </li>
          <li class="breadcrumb-item active">Rreth Nesh</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Ne ju ofrojme shtepine perfekte</h2>
          <p class="lead">Zbuloni shtëpinë ideale me ne, ku dizajni takon komoditetin për t'ju ofruar jetesën që meritoni.</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">Ne ju ofrojmë shtëpinë perfekte për ju. Eksploroni mundësitë tona të shumta të patundshmërisë, të cilat janë zgjedhur me kujdes për të përmbushur çdo kërkesë dhe dëshirë të klientëve tanë. 
            Nga dizajni modern deri te funksionaliteti i lartë, çdo detaj është menduar për t'ju siguruar komfortin dhe luksin që meritoni. Vizitoni platformën tonë dhe zbuloni propozimet 
            tona ekskluzive që sjellin elegancë dhe stil në jetën tuaj të përditshme. Ju mirëpresim të bëni hapin e ardhshëm drejt shtëpisë së ëndrrave tuaja.</p>
        </div>
        <div class="col-md-4">
          {% if mvp_realtors %}
            {% for realtor in mvp_realtors %}
            <div class="card">
              {% if realtor.photo %}
              <a href="{% url 'realtor_profile' realtor.id %}">
                <img class="card-img-top" src="{{ realtor.photo.url }}" alt="Photo of {{ realtor.name }}">
              </a>
          {% else %}
              <img src="{% static 'img/realtor_defaultimg.jpg' %}" alt="Default photo">
          {% endif %}
                <div class="card-body">
                  <h5 class="card-title">Shitesi i Muajit</h5>
                  <a href="{% url 'realtor_profile' realtor.id %}">
                    <h6 class="text-secondary">{{ realtor.name }}</h6>
                </a>
                  <p class="card-text">{{ realtor.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">Ne Punojmë Për Ju</h2>
  <h4>Zbuloni shkëlqimin në patundshmëri me ne. Përkushtimi ynë ju siguron jo vetëm një shtëpi, por një ambient që jehon luks dhe rehati.</h4>
  <hr>
  <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">Shikoni Listimet Tona të Veçanta</a>

  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Ekipi ynë</h2>
      <div class="row text-center">
        {% if realtors %}
          {% for realtor in realtors %}
          <div class="col-md-4">
            {% if realtor.photo and realtor.photo.url %}
              <img src="{{ realtor.photo.url }}" alt="Realtor photo">
                {% else %}
                    <img src="{% static 'img/realtor_defaultimg.jpg' %}" alt="Default photo">
                {% endif %}
              <h4>{{ realtor.name }}</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i> Realtor i Muajit</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>Nuk ka Realtor</p>
          </div>
        {% endif %}       
      </div>
    </div>
  </section>

{% endblock %}
