{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ listing.title }}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Faqja Kryesore</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Listimet Tona</a>
          </li>
          <li class="breadcrumb-item active">{{ listing.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'listings' %}" class="btn btn-light mb-4">Kthehu Tek Listimet</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          {% if listing.photo_main %}
          <img src="{{ listing.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
          {% endif %}
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            {% if listing.photo_1 %}
            <div class="col-md-2">
              <a href="{{ listing.photo_1.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_1.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_2 %}
            <div class="col-md-2">
              <a href="{{ listing.photo_2.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_2.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_3 %}
            <div class="col-md-2">
              <a href="{{ listing.photo_3.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_3.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_4 %}
            <div class="col-md-2">
              <a href="{{ listing.photo_4.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_4.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_5 %}
            <div class="col-md-2">
              <a href="{{ listing.photo_5.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_5.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_6 %}
            <div class="col-md-2">
              <a href="{{ listing.photo_6.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_6.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
          </div>
                    <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-name"></i> Emertimi:
                  <span class="float-right">{{ listing.title }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-building"></i> Tipi:
                  <span class="float-right">{{ listing.type }}</span>
                </li>
                <li class="list-group-item text-secondary">
                <i class="fas fa-map-marker"></i> Adresa:
                <span class="float-right"> {{listing.city}}, {{listing.state}}, {{listing.zipcode}}
                </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Pyet për Çmim:
                  <span class="float-right">${{ listing.price | intcomma }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Dhoma Gjumi:
                  <span class="float-right">{{ listing.bedrooms }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bath"></i> Banjo:
                  <span class="float-right">{{ listing.bathrooms }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-car"></i> Garazhë:
                  <span class="float-right">{{ listing.garage }}
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Virtual Tour:
                  <span class="float-right">
                    <a href="https://my.matterport.com/show/?m=RMgmD8x9xfn" target="_blank">
                      <i class="fas fa-th-large"></i>
                    </a>
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Meter Katror:
                  <span class="float-right">{{ listing.sqft }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-square"></i> Trualli:
                  <span class="float-right">{{ listing.lot_size }} Ari
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Data e Listimit:
                  <span class="float-right">{{ listing.list_date }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Realtor:
                  <span class="float-right">{{ listing.realtor }}
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Pershkrimi</h6>
                  <p class="card-text">{{ listing.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <a href="{% url 'realtor_profile' listing.realtor.id %}">
              <img class="card-img-top" src="{{ listing.realtor.photo.url }}" alt="Photo of {{ listing.realtor.name }}">
          </a>
            <div class="card-body">
              <h5 class="card-title">Realtor</h5>
              <h6 class="text-secondary">{{ listing.realtor }}</h6>
            </div>
          </div>
          <!-- Button to Open the Inquiry Modal -->
          <button class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Inquiry</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Bëni Kërkesë</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %}">
            <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <div class="form-group">
              <label for="name" class="col-form-label">Emri:</label>
              <input type="text" name="name" class="form-control" autocomplete="off" {% if user.is_authenticated %}value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" autocomplete="off" {% if user.is_authenticated %}value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Nr. Telefonit:</label>
              <input type="text" name="phone" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Mesazh:</label>
              <textarea name="message" class="form-control" autocomplete="off"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}